@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Raleway:400,800,900");

/* Text Stuff */
h2 {
    color: #3c3b3b;
    font-family: "Raleway", Helvetica, sans-serif;
    font-weight: 800;
    letter-spacing: 0.1em;
    line-height: 1;
    margin: 0 0 1em 0;
    text-transform: uppercase;
    padding-left: 30%;
    padding-right: 30%;
    text-decoration: underline #ccc;
    text-underline-offset: .4em;
}

.major {
    margin: 3em 0;
}

.text-footer {
    text-decoration: none;
    transition: transform 100ms;
    text-underline-offset: 0.2em;
    color: #e59214;
}

.text-footer:hover {
    color: #acacaccc;
    transform: scale(1.2) perspective(1px);
}

.icon-footer {
    color: #e59214;
    text-decoration: none;
}

/* Navigation Stuff */

.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #00000080;
    -moz-box-shadow: 0 8px 6px -6px #00000080;
    box-shadow: 0 8px 6px -6px #00000080;
}

.nav-link {
    text-decoration: underline .12em rgba(0, 28, 67, 0);
    transition: text-decoration-color 300ms;
    text-underline-offset: 0.2em;
    font-weight: 500;
    margin: 0 0.5em;
    color: #001c43;
}

.navbar-nav .nav-link.active{
    color: rgb(147, 0, 0);
}

.nav-link:hover {
    text-decoration-color: inherit;
    color: rgb(229, 146, 20);
}

/* Carousel Stuff */

.carousel {
    width:100%;
    -webkit-box-shadow: 0 8px 6px -6px #00000080;
    -moz-box-shadow: 0 8px 6px -6px #00000080;
    box-shadow: 0 8px 6px -6px #00000080;
}

.carousel-caption {
    height:25%;
}

.card h2 {
    text-decoration: none;
}

/* Our Services Section */

.services-icon {
    width: 5rem;
    height: 5rem;
    border-radius: 0.8rem;
    align-self: center;
    color: rgb(0, 28, 67);
}

.services-card {
    border: 1px solid transparent;
    overflow: hidden;
    transition: transform 100ms;
}
.services-card:hover{
    transform: scale(1.05);
}

/* .services-card::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid transparent;
    box-sizing: border-box;
    z-index: 1;
    pointer-events: none;
}
.services-card:hover::before{
    border-color: #001c43;
    animation: trace-border 2s linear forwards;
} */

.services-card .card-text{
    color: #444;
}
.services-card .card-title{
    color: #333;
}

.expertise-card {
    background-color: #f5f5f5;
    border-radius: 0;
    height: 100%;
    vertical-align: auto;
}
.expertise-card h2{
    font-size: 600%;
}
.expertise-card .card-title {
    color: #333;
}
.expertise-card .card-text {
    color: #555;
}

/* Testimonial Section */

.testimonial-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    aspect-ratio: 612/350; 
    /* Aspect ratio to be changed once we find better pictures */
}

#expertise{
    background-color: #001c43;
    background-image: url(../assets/top-shadow.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#expertise h2 {
    color: #ddd;
}

/* Buttons */

.caroubtn {
    display: inline-block;
    width: 15%;
    height: 50%;
    padding: 0.35em 1.2em;
    border: 0.2em solid #001c43;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    transform: skew(20deg);
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Raleway", Helvetica, sans-serif;
    font-weight: 750;
    font-size: 100%;
    color: #001c43;
    text-align: center;
    transition: all 0.2s;
}
.enquirybtn {
    width: 37%;
    height: 75%;
    padding: 0.35em 1.5em;
    border: 0.2em solid #001c43;
    margin: 0 1em 0.3em 0;
    border-radius: 0.12em;
    transform: skew(20deg);
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Raleway", Helvetica, sans-serif;
    font-weight: 750;
    font-size: 180%;
    color: #001c43;
    text-align: start;
    transition: all 0.2s;
}

.caroubtn-skew-fix{
    display:inline-block;
    transform: skew(-20deg);
  }

.caroubtn:hover, .enquirybtn:hover {
    color: #000000;
    background-color: #FFFFFF;
    transform: scale(1.1) perspective(1px) skew(20deg);
}

.cs-button-solid {
    font-size: 1rem;
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #ffffff;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    display: inline-block;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    transition: color 0.3s;
}

.cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #001c43;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
}

.cs-button-solid:hover {
    color: #e59214;
}

.cs-button-solid:hover:before {
    width: 100%;
}

@media all and (max-width:30em) {
    .caroubtn {
        display: block;
        margin: 0.4em auto;
    }
}

/* About Us Page */

#about-us {
    padding: var(--sectionPadding);
    overflow: hidden;
}

#about-us .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: row;
    gap: clamp(3rem, 4vw, 4rem);
}

#about-us .cs-image-group {
    width: 55%;
    max-width: 41.875rem;
    min-height: 41.875rem;
    max-height: 100%;
    height: auto;
    position: relative;
    display: block;
    z-index: 1;
    margin: 0;
}

#about-us .cs-box {
    text-align: left;
    width: 70%;
    max-width: 19rem;
    padding: clamp(1.25rem, 4vw, 2.5rem);
    box-sizing: border-box;
    background-color: #001c43;
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.5rem;
    position: absolute;
    right: 0;
    bottom: 0rem;
    z-index: 10;
    -webkit-box-shadow: 0 8px 6px -6px #00000080;
    -moz-box-shadow: 0 8px 6px -6px #00000080;
    box-shadow: 0 8px 6px -6px #00000080;
}

#about-us .cs-desc {
    font-size: clamp(1rem, 2.5vw, 1.9375rem);
    line-height: 1.2em;
    font-weight: 700;
    text-align: inherit;
    width: 100%;
    color: var(--bodyTextColorWhite);
    position: relative;
    z-index: 10;
}

#about-us .cs-picture {
    width: 93%;
    height: 94%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}

#about-us .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#about-us .cs-content {
    text-align: left;
    width: 48%;
    max-width: 33.875rem;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: center;
    position: relative;
    z-index: 10;
    flex: none;
}

#about-us .cs-text {
    margin-bottom: 1rem;
}
#about-us .cs-text:last-of-type {
    margin-bottom: 2rem;
}

#about-us .cs-ul {
    width: 100%;
    padding: 0;
    margin: clamp(2rem, 5vw, 3rem) 0 0 0;
    padding: clamp(2rem, 5vw, 3rem) 0 0 0;
    border-top: 1px solid #e8e8e8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 0.75rem;
}
#about-us .cs-item {
    list-style: none;
    width: 32%;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    align-content: space-between;
}
#about-us .cs-number {
    font-size: 1.5625rem;
    line-height: 1.2em;
    font-weight: 700;
    text-align: left;
    color: var(--primary);
    display: block;
    margin: 0 0 0.5rem 0;
}
#about-us .cs-h3 {
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: 400;
    text-align: left;
    margin: 0;
    color: var(--bodyTextColor);
}

#about-us {
    --primary: #930000;
    --primaryLight: #e08700;
    --secondary: #930000;
    --secondaryLight: #e08700;
    --headerColor: #1a1a1a;
    --bodyTextColor: #4e4b66;
    --bodyTextColorWhite: #fafbfc;
    --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
    --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
    --bodyFontSize: 1rem;
    --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.cs-topper {
    font-size: var(--topperFontSize);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: inherit;
    letter-spacing: .1em;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 0.25rem;
    display: block;
}

.cs-title {
    font-size: var(--headerFontSize);
    font-weight: 900;
    line-height: 1.2em;
    text-align: inherit;
    max-width: 43.75rem;
    margin: 0 0 1rem 0;
    color: var(--headerColor);
    position: relative;
}

.cs-text {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    max-width: 40.625rem;
    margin: 0;
    color: var(--bodyTextColor);
}

/* Very Cool Animation Section */

.bouncy {
    animation: bouncy 5s infinite linear;
    position: relative
}

@keyframes bouncy {
    0% {
        top: 0em
    }
    40% {
        top: 0em
    }
    43% {
        top: -0.5em
    }
    46% {
        top: 0em
    }
    48% {
        top: -0.5em
    }
    50% {
        top: 0em
    }
    100% {
        top: 0em;
    }
}

@keyframes trace-border {
    0% {
      clip-path: inset(0 100% 0 0);
    }
    25% {
      clip-path: inset(0 0 100% 0);
    }
    50% {
      clip-path: inset(0 0 0 100%);
    }
    75% {
      clip-path: inset(100% 0 0 0);
    }
    100% {
      clip-path: inset(0 100% 0 0);
    }
}