@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Raleway:400,800,900");

h2 {
    color: #3c3b3b;
    font-family: "Raleway", Helvetica, sans-serif;
    font-weight: 800;
    letter-spacing: 0.1em;
    line-height: 1;
    margin: 0 0 1em 0;
    text-transform: uppercase;
}
.major {
    margin: 3em 0;
}
.nav-link {
    text-decoration: underline .12em rgba(0, 28, 67, 0);
    transition: text-decoration-color 300ms;
    text-underline-offset: 0.2em;
    font-weight: 500;
    margin: 0 0.5em;
}
.nav-link:hover {
    text-decoration-color: rgba(0, 28, 67, 0.8);
    color: rgba(0, 28, 67, 1);
}
.carousel {
    width:100%;
}

.services-icon {
    width: 5rem;
    height: 5rem;
    border-radius: 0.8rem;
    align-self: center;
    color: rgb(0, 28, 67);
}

.services-card {
    border: 0;
}

.testimonial-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    aspect-ratio: 612/350; 
    /* Aspect ratio to be changed once we find better pictures */
}
